@value primaryDarkPurple,primaryPurple,basicWhite,secondaryPurple from '../../common/color.css';
.headerLine{
    background-color: primaryDarkPurple;
    height: 30px;
}
.header {
    padding: 0 0 0.5em 0;
    width: 100%;
    text-align: center;
    background-color: primaryPurple;
}

.title {
    color: basicWhite;
}

.logout {
    position: absolute;
    right: 3em;
    top: 1em;
    padding: 0.8em;
    border-radius: 10px;
    background-color: secondaryPurple;
    color: basicWhite;
    outline: 0;
    border: 0;
    cursor: pointer;
}